<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/Teacher/css/layui.css}"   media="all">
    <link rel="stylesheet" th:href="@{/static/Teacher/js/layui.js}"   media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div th:insert="index::topbar(activeUri='CP')"></div>
<div style="position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color:white;
	text-align: center;">
    <div>
<form class="layui-form" th:action="@{/UpdatePassword}" method="post">
    <input type="hidden" name="_method" value="put"/>
    <p style="color:red"  th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <div style="padding:10px 10px 10px 10px">
     <input type="text" readonly="readonly" name="username" required lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input" th:value="${session.TUN}">
    </div>
    <div style="padding:10px 10px 10px 10px">
      <input type="password" name="password_old" required lay-verify="required" placeholder="请输入旧密码" autocomplete="off" class="layui-input">
    </div>
    <div style="padding:10px 10px 10px 10px">
      <input type="password" name="password_new" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-item">
     <input type="submit" value="提交" class="layui-btn layui-btn-sm" style="float: right"/>
    </div>
</form>
</div>
</div>
</body>
</html>